/* StartBar with weather info about Stockholm */
.start-bar {
    border-bottom: 0.2rem solid lightgray;
    border-radius: 0 0 5px 5px;
    cursor:default;
    background-color: white;
    display: flex;
    height: fit-content;
    opacity: 90%;
    align-content: center;
}
.start-bar:hover {
    opacity: 97.5%;
}
.start-bar-item {
    display: inline;
    flex: 1 0;
    font-weight: 500;
    text-align: center;
    height: 3rem;
    max-height: 4rem;
    word-break: break-all;
    overflow: hidden;
}

.start-bar-icon {
    width: 55px;
}

.start-bar-dropdown {
    display: inline;
    flex: 1 0;
    text-align: center;
    height: inherit;
    max-height: inherit;
}

#dropdown-basic {
    background-color: white;
    color: rgb(49, 53 ,56) !important;
    font-weight: 500;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important; 
} 

/* .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
} */

.dropdown-menu {
    margin: -2.5px 0px 0px -15px !important;
    /* padding: 0px 0px 0px 0px !important; */
    min-width: 45px !important;
    
    width: 9rem !important;
    border-radius: 0px 0px 5px 5px !important;
    border-top: none !important;
    border-right: 3px solid lightgray !important;
    border-bottom: 3px solid lightgray !important;
    border-left: 3px solid lightgray !important;
}

.dropdown-item {
    background-color: white !important;
}