.city-card {
    width: fit-content;
    margin: 5rem auto -5rem auto;

    text-align: center;
    font-size: 1.7rem !important;
    font-weight: 500;
    background-color: transparent !important; 
    border: none !important;

}

.card small {
    font-size: 0.9rem;
}
.card-body {
    padding: 0 !important;
} 
.card-date {
    font-size: 1.1rem;
}
.card-temp p {
    font-size: 2.5rem;
}
.card-temp small{
    font-size: 0.8rem;
}

/* Card containing daily/forecast weather data */
.weather-card {
    min-height: 400px;
    height: fit-content;
    min-width: 220px !important;
    width: fit-content !important;
    margin: 0 3rem;
    padding: 0;

    align-items: center;
    text-align: center;

    font-weight: 500;
    font-size: 1.2rem;
    
    border-radius: 10px !important;
    backdrop-filter: blur(20px) !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0,25) !important;
    border: 2px solid rgba(255, 255, 255, 0.3) !important;

    opacity: 95%;
}

.weather-card:hover{
    opacity: 100%;
}

.card-main-icon {
    opacity: 100% !important;
    margin: 0.5rem;
    width: 47.5% !important;
}

.card-icon {
    width: 35px;
}
.card-icon-big {
    width: 47.5px;
}