/* Removes the ability to highlight text */
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none; 
}

/* Sets background image for the body */
body {
    background-image: url("https://picsum.photos/3840/2160");
    background-repeat: no-repeat;
    background-size: cover;
    
    /* background-position: top; */
}

