.toast-header {
    height: 1.5rem !important;

    overflow: hidden;
}
.btn-close {
    width: 5px !important;
    height: 5px !important;
}
.toast-body {
    text-align: center;
    height: fit-content;
    /* overflow: hidden; */
}
.toast {
    float:left;
    margin: -14.5px 0px 0px 2.5px;
    width: 17.5% !important;
} 