.toast-header {
    height: 1.5rem !important;

    overflow: hidden;
}
.btn-close {
    width: 5px !important;
    height: 5px !important;
}
.toast-body {
    text-align: center;
    height: 4.2rem !important;
    overflow: hidden;
}
.toast {
    float:left;
    margin: -10px 0px 0px 5px;
    width: 17.5% !important;
} 